*{ 
    margin: 0px;
    padding: 0px;
    /*outline: 2px dotted red; */
}
#backgroundstyle{
    background: linear-gradient(#e7c4c4, #9b4040, #3F0D12);
    height: 1000px;
    /* padding-top: 3px; */
    /* width: 1300px; */
    /* background-color: rgb(243, 240, 240); */
    /* background: linear-gradient(#faf9f9, #faf9f9, #424141); */
    /* margin: auto; */
    /* vertical-align: top; */
    /* background: linear-gradient(#faf9f9, #faf9f9, #424141); */
    /* max-width: 970px; */
}
#header{
    background-color: black;
    max-height: 80px;
    max-width: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
}
.headeroptions{
    justify-content: space-between;
    /* color: white; */
    float: right;
    display: flex;
    font-size: 125%;
    padding-left: 800px;
}
#sitetitle{
    text-decoration: none;
    color: white;
    padding-left: 25px;
}
#sitetitle:hover{
    color: rgb(221, 114, 114);
    text-decoration: none;
}
.optionstext{
    padding-left: 20px;
    padding-right: 30px;
    text-decoration: none;
    color: white;
}
.container{
    padding-top: 30px;
    /* width: 1600px; */
    background: linear-gradient(#e7c4c4, #b12626, #3F0D12);
    /* margin: auto; */
    vertical-align: top;
}
/* #mainbox{
    width: 1300px;
    background: linear-gradient(#e7c4c4, #b12626, #3F0D12);
    padding: 0px;
    margin: auto;
    vertical-align: top;
} */
.introvideo{
    text-align: center;
    /* background:linear-gradient(rgba(255,0,0,0), rgba(66, 9, 9, 0.74)); */

}
.tiktok{
    background-color: none;
    /* width: 200px; */
    border-radius: 4px;
    text-align: center;
}
#tiktoklink{
    color: black;
    text-decoration: none;
    font-style: italic;
    /* font-family: "monaco", monospace; */
    /* padding-left: 10px; */
} 
#tiktoklink:hover{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-style: italic;
    /* font-family: "monaco", monospace; */
    /* padding-left: 10px; */
} 
#topheader{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px;
    justify-content: space-between;
    /* font-family: "monaco", monospace; */
    /* background-color: none; */
    /* background:linear-gradient(rgba(255,0,0,0), rgba(66, 9, 9, 0.74)); */
}
/* GLOW TEXT EFFECT */
.name{
    font-size: 40px;
    font-style: italic;
    letter-spacing: 4px;
    color: #fff;
    animation: name ls ease-in-out infinite alternate;
}
#punchline{
    font-style: italic;
    letter-spacing: 1px;
}
@-webkit-keyframes name {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
/*  */
.crestpng{
    height: 150%;
    width: auto;
    margin-right: 130px;
    filter: grayscale(100%);
}
.bulletsbox{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* BIO TITLE STYLING */

/* ---------------- */
#titletwo{
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.bullets{
    display: flex;
    align-items: center;
    font-size: 150%;
    padding-bottom: 30px;
}
.bulletpoints{
    padding-right: 30px;
    color: white;
    font-size: large;
    text-align: center;
    list-style-type: none;
}
/* IMAGE EFFECT CSS */
.wrap-image {
    position: relative;
    max-width: 750px;
    padding-left: 20px;
}
.wrap-image::before, .wrap-image::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border: 2px solid black;
    transition: all 0.25s ease-out;
}
.wrap-image::before {
    background-color: black;
    top: -15px;
    left: -15px;
    padding-left: 40px;

}
.wrap-image::after {
    bottom: -15px;
    right: -15px;
}
.wrap-image:hover::before {
    top: 15px;
    left: 15px;
}
.wrap-image:hover::after {
    bottom: 15px;
    right: 15px;
}
/* BIO SECTION */
.bio{
    padding-top: 30px;
    padding-bottom: 30px;
}
.biotitle{
    text-align: center;
    color: rgb(173, 22, 22);
    font-style: italic;
}
.biotable{
    padding-top: 60px;
}
.table{
    width: 800px;
    height:300px;
}
.itachipng{
    max-height: 400px;
    width: auto;
    padding-left: 125px;
}
.familytitle{
    color: white;
    font-style: italic;
}
.jsrow{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sharingantitle{
    text-align: center;
    color: white;
    font-style: italic;
    padding-bottom: 15px;
    display: flex;
}
.crowpng1{
    max-width: 70px;
    max-height: auto;
}
.crowpng2{
    transform: scaleX(-1);
    max-width: 70px;
    max-height: auto;
}
.jsimages{
    max-width: 50%;
    max-height: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: 2px solid black;
}
.surveyrow{
        justify-content: space-between;
}
.survey{
    text-align: left;
    color: white;
    padding-bottom: 60px;
}
.surveyimage{
    height: 40%;
    width: 40%;
    border-radius: 5px;
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    background-color: black;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 300px;
    padding-right: 300px;
    /* width: 1125px; */
    max-height: 30px;
    align-items: center;
    border-top: 5px solid maroon;
}
.hometemp{
    color: white ;
    text-decoration: none;
    font-style: italic;
}  
.hometemp:hover{
    color: rgb(173, 22, 22);
    text-decoration: none;
    letter-spacing: 2px;
}
.socialfooter{
    color: white ;
    text-decoration: none;
    font-style: italic;
    font-size: large;
}
.socialfooter:hover{
    color: rgb(209, 97, 97);
    text-decoration: none;
}
